@import './base.css';


html {
  overflow-y: scroll; /* 始终保留滚动功能 */
}

/* 隐藏默认滚动条轨道 */
::-webkit-scrollbar {
  width: 10px;
}

/* 透明的轨道，不挤页面 */
::-webkit-scrollbar-track {
  background: transparent;
}

/* 浮在页面上的滚动条手柄 */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
}

/* 鼠标悬浮页面时滚动条更明显 */
body:hover::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}
